*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}
.display{
    width: 100%;
    display: flex;
}
.container1{
    width: 40%;
}
.container1 img{
    width: 100%;
    height: fit-content;
    object-fit: cover;
    height: 100vh;
}
.container2{
    width: 60%;
    margin-top: 15rem;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.6);
    height: 300px;
    display: flex;
    flex-direction: column;
}
.container2 .login{
    display: flex;
    height: 30%;
    flex-direction: column;
}
.container2 h1{
    margin-left: 3rem;
    padding-top: 1rem;
    font-size: 1.5rem;
}
.placeholders{
    display: flex;
    width: 100%;
}
.placeholders .col1,
.placeholders .col2{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 3rem;
    margin-top: 2rem;
}
.placeholders .col1{
    width: 12%;
}
.placeholders .col1 label,
.placeholders .col2 label{
    font-size: .8rem;
    font-weight: 600;
    color: gray;
    letter-spacing: .05rem;
}
.placeholders .col1 input,
.placeholders .col2 input{
    height: 1.5rem;
    width: 14rem;
    margin-bottom: 1.5rem;
    border: solid 2px rgb(128, 128, 128, 0.5);
    border-radius: .2rem;
}
#pass:invalid{
    border: solid 2px rgb(168, 22, 22);
}
.placeholders .col1 input:focus,
.placeholders .col2 input:focus{
    border: solid 2px rgba(8, 77, 239, 0.5);
    box-shadow: 0px 0px 10px rgb(0,0,0,0.3);
    outline: none;
    transition: all .2s;
}
.container2_1{
    margin-top:15rem ;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}
.container2_1 button{
    width: 12rem;
    height: 3rem;
    border-radius: .4rem;
    border: none;
    background-color: rgb(63, 92, 63);
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}
.container2_1 a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(63, 92, 63);
}